#myNavbar {


    color: black;

}

input {
    background: grey
}

#Logo {
    width: 200px;
}

#arrma {
    width: 200px;
}

#hpi {
    width: 200px;
}

#xmaxx {
    width: 200px;
}

#kraton8s {
    width: 200px;
}

#erevo2 {
    width: 200px;
}

#enoze {
    width: 400px;
}
